@model JML_Traders.Models.af458_customers

@{
    var queryResult = ViewData["queryResult"].ToString();
}

@{
    ViewBag.Title = "Ajouter un client";
}

<a class="btn btn-secondary mt-3" href="@Url.Action("Index", "Home")"><i class="fas fa-chevron-left"></i> Retour à l'accueil</a>
<h2 class="text-center">Formulaire d'ajout d'un Client</h2>
@if (queryResult == "false")
{
    <p class="text-danger text-center font-weight-bold">Ce client est déjà enregistré</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-lg-8 offset-lg-2">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <b>@Html.LabelFor(model => model.lastname, "Nom : ", htmlAttributes: new { @class = "control-label col-md-2" })</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>@Html.LabelFor(model => model.firstname, "Prénom :", htmlAttributes: new { @class = "control-label col-md-2" })</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>@Html.LabelFor(model => model.mail, "Adresse Mail :", htmlAttributes: new { @class = "control-label col-md-6" })</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>
                @Html.LabelFor(model => model.phoneNumber, "Numéro de téléphone :", htmlAttributes: new { @class = "control-label col-md-6" })
            </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>@Html.LabelFor(model => model.budget, "Budget :", htmlAttributes: new { @class = "control-label col-md-2" })</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>@Html.LabelFor(model => model.id_af458_brokers, "Courtier :", htmlAttributes: new { @class = "control-label col-md-2" })</b>
            <div class="col-md-10">
                @Html.DropDownList("id_af458_brokers", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_af458_brokers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Soumettre" class="btn btn-orange" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-secondary my-3" href="@Url.Action("Index", "Customers")"><i class="fas fa-chevron-left"></i> Retour à la liste des clients</a>
</div>
