@model JML_Traders.Models.af458_customers

@{
    ViewBag.Title = "Profil  client";
}

<a class="btn btn-secondary mt-3" href="@Url.Action("Index", "Home")"><i class="fas fa-chevron-left"></i> Retour à l'accueil</a>
<h2 class="text-center">Fiche profil d'un client</h2>

<div class="modal fade" id="deleteCustomersModalProfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir supprimer ce client ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-footer d-block text-center">
                <a id="deleteAnchor" class="btn-lg btn-danger" href="/Customers/DeleteCustomer/@Html.DisplayFor(model => model.id)">Supprimer</a>
                <a class="btn-lg btn-secondary" data-dismiss="modal">Annuler</a>
            </div>
        </div>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal col-lg-8 offset-lg-2">
        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.af458_brokers.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.af458_brokers.lastname)
        </dd>

    </dl>
</div>
<div class="text-center">
    <a class="btn btn-orange my-3" href="/Customers/EditCustomer/@Html.DisplayFor(model => model.id)"><i class="fas fa-pencil-alt"></i> Modification du profil</a>
    <a class="btn btn-danger mx-2" data-toggle="modal" data-target="#deleteCustomersModalProfil"><i class="fas fa-user-times"></i>  Supprimer</a>
</div> 
    <a class="btn btn-secondary my-3" href="@Url.Action("Index", "Customers")"><i class="fas fa-chevron-left"></i> Retour à la liste des clients</a>

