@model JML_Traders.Models.af458_customers

@{
    ViewBag.Title = "Profil  client";
}

<a class="btn btn-secondary mt-3" href="@Url.Action("Index", "Home")"><i class="fas fa-chevron-left"></i> Retour à l'accueil</a>
<h2 class="text-center">Fiche profil d'un client</h2>

<div>
    <hr />
    <dl class="dl-horizontal col-lg-8 offset-lg-2">
        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.af458_brokers.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.af458_brokers.lastname)
        </dd>

    </dl>
</div>
<div>
    <p class="text-center"><a class="btn btn-blue my-3 text-center" href="/Customers/EditCustomer/@Html.DisplayFor(model => model.id)"><i class="fas fa-pencil-alt"></i> Modification du profil</a></p>
    <p><a class="btn btn-secondary my-3" href="@Url.Action("Index", "Customers")"><i class="fas fa-chevron-left"></i> Retour à la liste des clients</a></p>

</div>
