@model IEnumerable<JML_Traders.Models.af458_customers>

@{
    ViewBag.Title = "Liste des clients";
}

<a class="btn btn-success mt-3" href="@Url.Action("addCustomer", "Customers")"><i class="fas fa-plus"></i> Créer un nouveau client</a>

<h2 class="text-center mb-5">Liste des clients</h2>

<div class="modal fade" id="deleteCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir supprimer ce client ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-footer d-block text-center">
                <a id="deleteAnchor" class="btn-lg btn-danger" href="">Supprimer</a>
                <a class="btn-lg btn-secondary" data-dismiss="modal">Annuler</a>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.af458_brokers.lastname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastname, "nom du client :")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname, "prénom du client :")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail, "adresse mail du client :")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber, "numéro de téléphone du client:")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budget, "Budget du client:")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.af458_brokers.lastname, "Courtier :")
            </td>
            <td>
                <a class="btn btn-blue mx-2" href="@Url.Action("DetailsCustomer", "Customers", new { id = item.id })"><i class="fas fa-user"></i> Profil</a>
                <a class="btn btn-danger mx-2" data-toggle="modal" data-target="#deleteCustomerModal" data-id="@Html.Raw(item.id)"><i class="fas fa-user-times"></i>  Supprimer</a>

            </td>
        </tr>
    }

</table>
