@model IEnumerable<JML_Traders.Models.af458_brokers>

@{
    ViewBag.Title = "Liste des Courtiers";
}
<a class="btn btn-success mt-3" href="@Url.Action("addBrokers", "Brokers")"><i class="fas fa-plus"></i> Créer un nouveau courtier</a>

<h2 class="text-center mb-5">Liste des Courtiers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                <a class="btn btn-warning mt-3" href="@Url.Action("Edit", "Brokers", new { id = item.id })"><i class="fas fa-edit"></i> Modifier</a>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
