@model JML_Traders.Models.af458_brokers

@{
    ViewBag.Title = "Profil du courtier";
}

<a class="btn btn-secondary mt-3" href="@Url.Action("listBrokers", "Brokers")"><i class="fas fa-chevron-left"></i> Retour à la liste des courtiers</a>

<h2 class="text-center mb-5">Profil de @Html.DisplayFor(model => model.firstname) @Html.DisplayFor(model => model.lastname)</h2>
<hr />

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir supprimer ce courtier ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-footer d-block text-center">
                <a id="deleteAnchor" class="btn-lg btn-danger" href="/Brokers/Delete/@Html.DisplayFor(model => model.id)">Supprimer</a>
                <a class="btn-lg btn-secondary" data-dismiss="modal">Annuler</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
        <p>@Html.DisplayFor(model => model.id)</p>
        <h4 class="font-weight-bold">@Html.DisplayNameFor(model => model.lastname)</h4>
        <h5>@Html.DisplayFor(model => model.lastname)</h5>

        <h4 class="font-weight-bold">@Html.DisplayNameFor(model => model.firstname)</h4>
        <h5>@Html.DisplayFor(model => model.firstname)</h5>

        <h4 class="font-weight-bold">@Html.DisplayNameFor(model => model.mail)</h4>
        <h5>@Html.DisplayFor(model => model.mail)</h5>

        <h4 class="font-weight-bold">@Html.DisplayNameFor(model => model.phoneNumber)</h4>
        <h5>@Html.DisplayFor(model => model.phoneNumber)</h5>
    </div>
    <div class="col-lg-12 text-center">
        <a class="btn btn-orange mx-2 my-3" href="/Brokers/editBrokers/@Html.DisplayFor(model => model.id)"><i class="fas fa-edit"></i> Modifier</a>
        <a class="btn btn-danger mx-2 my-3" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times"></i> Supprimer</a>
    </div>
</div>