@model JML_Traders.Models.af458_appointments

@{
    ViewBag.Title = "Rendez-vous";
}

<h2 class="text-center mb-5">Détails du rendez-vous :</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.af458_brokers.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.af458_brokers.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.af458_customers.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.af458_customers.lastname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
